@import  "molecules/mixins";

@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/variables";
@import "../bower_components/bootstrap-sass/assets/stylesheets/bootstrap/mixins";

@import  "molecules/mixins1";
@import  "molecules/reset";

@import "organims/header";
@import "organims/footer";

@import "templates/_bio.scss";
@import "templates/_videos.scss";
@import "templates/_works.scss";
@import "templates/_contato.scss";

.realtive{
	position: relative;
}

img{
	width: 100%;
    height: auto;
}